// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
//$border-radius: 15px;

// Changing the theme colors
$primary: #8C1D40;
$secondary: #FFC627;
$success: #00A3E0;
$info: #d2d6da;
$warning: #FF7F32;
//$danger: #ff293a;
//$light: #dfe6ee;
//$dark: #0f1319;
$font-family-sans-serif : "Roboto", "Helvetica Neue", Arial, sans-serif;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
  "blue": #0079b0
);
$link-color:                #8C1D40;
$link-decoration:           none;
$link-hover-color:          #d23153;
$link-hover-decoration:     none;
